@{
    Layout = "Shared/_layout.cshtml";
}

<div class="">
    <h2>Name: <span>@Model.GetName()</span></h2><br>
    <h2>Number: <span>@Model.GetNumber()</span></h2><br>
    <h2>Address: <span>@Model.GetAddress()</span></h2>
</div>

<a href="/">Back to Home Page</a>
