@{
    Layout = "Shared/_layout.cshtml";
}

<h1>There are currently no contacts</h1>

<a class="btn-floating btn-large waves-effect waves-light red" href="/new"><i class="material-icons">add</i></a><br>
