@{
    Layout = "Shared/_Layout.cshtml";
}
<div id="list">

    <ul v-if="seen">
        @foreach (var name in Model.Keys)
        {
            <li><a class="btn" href="/contact/@name">@name</a></li>
        }
    </ul><br>
    <button class="btn btn-info" v-on:click="seen = !seen">Show/Hide Contacts</button>
</div>

<a class="btn-floating btn-large waves-effect waves-light red" href="/new"><i class="material-icons">+</i></a><br>
<form action="/contacts/clear" method="post">
    <button type="submit" name="button" class="btn">Clear Contacts</button>
</form>
