@{
    Layout = "Shared/_Layout.cshtml";
}

<form  action="/" method="post">
    <div class="form-group">
        <div id="new-name">
            <h2>{{ message }}</h2>
            <label for="name">Enter Name: </label>
            <input v-model="message" type="text" name="name" id="name">
        </div>

        <div id="new-number">
            <h2>{{ message }}</h2>
            <label for="number">Enter Number: </label>
            <input v-model="message" type="text" name="number" id="number">
        </div>

        <div id="new-address">
            <h2>{{ message }}</h2>
            <label for="address">Enter Address: </label>
            <input v-model="message" type="text" name="address" id="address">
        </div>
        <button type="submit" name="button">Create Contact</button>
    </div>
</form>
